datascreen-setting-panel {
    width: 310px;
    overflow: hidden;
    position: relative;
    transition: width .25s ease-in-out;
    font-size: calc(0.8 * var(--font-size));

    ion-toolbar {
        --min-height: 35px;
    }

    ion-header {
        width: 332px;
    }

    ion-content {
        width: 332px;
    }

    .header-box {
        width: 100%;
        text-align: center;
    }

    ion-segment {
        background-color: var(--ion-color-secondary);

        ion-segment-button {
            min-height: 30px;
            line-height: 35px;
            ion-icon {
                margin: 0 !important;
            }
        }
    }
}