datascreen-setting-panel {
    width: 310px;
    overflow: hidden;
    position: relative;
    transition: width .25s ease-in-out;
    font-size: calc(0.8 * var(--font-size));

    ion-header {
        width: 332px;
    }

    .header-box {
        width: 100%;
        text-align: center;
    }

    ion-segment {
        background-color: var(--ion-background-color);
        --color: var(--ion-toolbar-color) !important;

        ion-segment-button {
            min-height: 30px;
            line-height: 35px;

            ion-icon {
                margin: 0 !important;
            }
        }
    }

    ion-toolbar {
        margin: 2px 0;
        --background: var(--ion-background-shade)
    }

    ion-content {
        width: 332px;
        --padding-start: 10px;
        --padding-end: 8px;


        ion-title {
            font-size: var(--font-size);
        }

        ion-grid+ion-grid {
            margin-top: 8px;
        }

        ion-grid {
            ion-col {
                display: flex;
                align-items: center;

                ion-range {
                    padding-inline-start: 0px;
                    padding-top: 0;
                    padding-bottom: 0;
                    padding-inline-end: 0px;
                }

                ion-button {
                    --border-radius: 0;
                }

                ion-input {
                    --background: var(--ion-background-shade) !important;
                }

                ion-input input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button{
                    width: 25px;
                    height: 30px;
                }

                ion-select {
                    width: 100%;
                    background: var(--ion-background-shade) !important;
                }
            }
        }
    }
}