datascreen-setting-panel {
    width: 310px;
    overflow: hidden;
    position: relative;
    transition: width .25s ease-in-out;

    ion-header {
        width: 332px;
    }


    ion-segment {
        background-color: var(--ion-background-color);
        --color: var(--ion-toolbar-color) !important;

        ion-segment-button {
            min-height: 30px;
            line-height: 35px;

            ion-icon {
                margin: 0 !important;
            }
        }
    }

    ion-toolbar {
        --background: var(--ion-background-shade);
        --min-height: 30px;
        ion-title{
            font-size: 13px;
        }
    }

    ion-content {
        width: 332px;
        font-size: 12px;
        --padding-start: 12px;
        --padding-end: 12px;

        ion-title {
            font-size: var(--font-size);
        }

        .marginTop,
        ion-grid {
            margin-top: 15px;
        }


        ion-grid {
            padding: 5px 0;

            ion-col {
                display: flex;
                align-items: center;
                padding: 5px 10px;

                ion-range {
                    padding-inline-start: 0px;
                    padding-top: 0;
                    padding-bottom: 0;
                    padding-inline-end: 0px;
                }

                ion-button {
                    --border-radius: 0;
                }

                ion-input,input {
                    height: 25px;
                    --background: var(--ion-background-tint) !important;
                }

                ion-input input[type=number]::-webkit-inner-spin-button,
                input[type=number]::-webkit-outer-spin-button {
                    width: 20px;
                    height: 25px;
                    opacity: 1;
                }

                cy-table {
                    text-align: center;
                    --color: var(--ion-text-color, #ffffff);
                }

                ion-select {
                    width: 100%;
                    --padding-top:  6px;
                    --padding-bottom: 0;
                    background: var(--ion-background-tint) !important;
                }
            }
        }


        cy-item-extend {
            --header-bg: var(--ion-background-color);
            --color: var(--ion-text-color);
            --content-bg: var(--ion-background-shade);
            
            cy-item-extend {
                --header-bg: var(--ion-background-shade);
                --content-bg: var(--ion-background-tint);
                ion-input{
                    --background: var(--ion-background-shade) !important;
                }
                ion-select {
                    background: var(--ion-background-shade) !important;
                }
            }
        }
    }
}