:host {
    --background: transparent;
    --header-bg: var(--background, #fafafa);
    --color: #000000;
    --border-width: 0px;
    --border-color: #edf2f6;
    --font-size: inherit;
    width: 100%;
}

table {
    width: 100%;
    height: 100%;
    color: var(--color);
    font-size: var(--font-size);
    background: var(--background)
}

thead {
    background: var(--header-bg)
}

td,
th {
    border-width: 0 var(--border-width) var(--border-width) 0;
    border-collapse: collapse;
    border-color: var(--border-color);
    border-style: solid;
    line-height: 1.5;
    padding: 0.5em 0;
}