:host {
    --header-bg: transparent;
    --odd-bg: transparent;
    --even-bg: transparent;

    --color: #000000;
    --border-width: 0px;
    --border-color: #edf2f6;
    --font-size: inherit;
    width: 100%;
}

table {
    width: 100%;
    height: 100%;
    color: var(--color);
    font-size: var(--font-size);
    border-width: var(--border-width) 0 0 var(--border-width);
    border-style: solid;
    border-collapse: collapse;
    border-color: var(--border-color);

}

thead {
    tr{
        background: var(--header-bg)!important;
    }
}

tr:nth-child(odd) {
    background-color: var(--odd-bg)
}

tr:nth-child(even) {
    background-color: var(--even-bg)
}

td,
th {
    border-width: 0 var(--border-width) var(--border-width) 0;
    border-collapse: collapse;
    border-color: var(--border-color);
    border-style: solid;
    line-height: 1.5;
    padding: 0.5em 0;
}