app-create {

    .canvas-box{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .canvas-container {
        flex: 1;
        display: flex;
        margin: 20px;
    }

    ion-item {
        --min-height: 130px;

        .blank-img {
            width: 130px;
            height: 90px;
            margin-inline-end: 16px;
            box-shadow: inset 0 0 46px 0 var(--ion-background-contrast);
        }

        ion-thumbnail {
            width: 130px;
            height: 90px;
        }
    }

}