:host{
    --box-shadow:  0 4px 16px var(--ion-color-primary-shade);
   --background: var(--ion-background-color);
    display: block;
    width: 100%;
    height: 100%;
}
*{
    box-sizing: border-box;
}
.drag_container {
    width: 100%;
    height: 100%;
    box-shadow: var(--box-shadow);
    position: relative;
    background-color: var(--background)
}