setting-data-config{
    ion-item,ion-col{
        ion-radio-group{
            display: flex;
            margin-top: 30px;
        }
        ion-textarea {
            --background: var(--ion-background-shade) !important;
        }
        ion-input{
            --background: var(--ion-background-shade) !important;
        }
    }
    
}