app-home {

    .header-buttons {
        ion-button + ion-button{
            margin-left: 5px;
        }

        .header-btn {
            height: 100%;
            --border-width: 0px;
          
            .btn-container {
                text-align: center;
                font-weight: bold;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                width: 100px;
                height: calc(0.75 * var(--header-height));
                font-size: 20px;
                
                span{
                    color:  #ffffff;
                    margin-bottom: 3px;
                }
                ion-icon {
                    font-size: calc(0.5 * var(--header-height));
                    margin-bottom: 2px;
                }
            }
        }

    }


    .datascreen-box{
        display: flex;
        flex-direction: row;
        height: 100%;
        background: url(../../assets/image/data-screen-bg.png) repeat;
    }

    .datascreen-edit-box{
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 100%;
        .datascreen-edit-footer {
            height: 80px;
            z-index: 1;
            margin-right: 0px;
            background: var(--ion-background-color);
            box-shadow:  2px 2px 8px var(--ion-color-primary-shade)
        }
        .datascreen-edit-container {
            flex: 1;
            padding: 5%;
        }
    }

    .datascreen-setting-box{
        min-width: 400px;
        width: 30%;
        max-width: 40%;
        margin-left: 16px;
        overflow: hidden;
        position: relative;
    }
}