datascreen-header{
    ion-toolbar{
        --ion-color-base: var(--ion-background-contrast);
        --min-height: calc(1.2 * var(--header-height));
    }
    .header-buttons {
        
        ion-button{
            width: 50px;
            height: 25px!important;
        }

        ion-button + ion-button{
            margin-left: 5px;
        }

        .header-btn {
            height: 100%;
            
            ion-button + ion-button{
                margin-left: 10px;
            }
        }

    }
}