datascreen-com-panel {
    width: 233px;
    overflow: hidden;
    margin-left: 3px;
    position: relative;
    transition: width .25s ease-in-out;
    font-size: calc(0.8 * var(--font-size));

    ion-header {
        width: 233px;
    }

    ion-content {
        width: 233px;
    }

    ion-segment-button {
        color: var(--ion-text-color)
    }

    ion-toolbar {
        --min-height: 35px;
    }

    ion-title {
        font-size: calc(0.8 * var(--font-size));
    }

    .full-content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }

    ion-segment{
        width: fit-content!important;
        display: flex;
        flex-direction: column;
        justify-content: flex-start!important;
        border-right: 1px solid var(--ion-background-shade);

        ion-segment-button{
            min-width: 45px;
            max-height: 70px;
            --padding-end: 8px;
            --padding-start: 8px;
        }
    }

    .com-box{
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        height: fit-content;
        justify-content: space-between;

        .com-item{
            width: 80px;
            height: 80px;
            margin: 4px;
            justify-content: space-between;
            text-align: center;
            cursor: pointer;

            .com-img{
                width: 55px;
                height: 55px;
            }
        }
        .com-item:hover .com-img {
            border-color: var( --ion-color-primary-shade);
            border-width: 1px;
            border-style: solid;
        }
    }
}